.task_list .short_name {
    width: 70px;
    height: 63px;
    text-align: center;
    vertical-align: middle;
    line-height: 58px;
}
.task_list .action_buttons {
    height: 34px;
}
.task_list .action_buttons a {
    line-height: 25px;
}